/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 200px;
    background-image:url(./cd76552af0bac713e2153a4584435547.jpg);
}

h1{
    display:block;
}
/* NAVBAR */
nav {
    background-color: rgb(17, 215, 229);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
}

nav a {
    text-decoration: none;
    border: 3px solid white;
    background-color: rgb(119, 119, 228);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    text-align: center;

}

nav a:hover {
    transform: translateY(-5px);
    background-color: rgb(90, 90, 210);
}

/* TABLE */
table {
    border: 2px solid black;
    border-spacing: 4px;
    width: 90%;
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
    min-height: 200px;
    background-color: white;
}

table thead tr {
    background-color: blue;
    color: white;
}

table tbody tr {
    background-color: rgb(73, 139, 139);
    text-align: center;
    color: white;
}

table td,
table th {
    border: 2px solid blueviolet;
    padding: 10px;
}

/* BUTTONS */
.s1,
.s2 {
    background-color: rgb(69, 69, 130);
    color: white;
    height: 50px;
    width: 150px;
    display: block;
    margin: 15px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

.s1:hover,
.s2:hover {
    transform: scale(1.05);
    background-color: rgb(50, 50, 100);
}

/* LIST */
ul {
    background-color: rgb(123, 176, 204);
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    list-style-position: inside;
}

/* FOOTER */
footer{
    background-color: rgb(57, 126, 163);
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
    margin-top: 100px;
    position: fixed;
    bottom:0;
    left:0;
}
footer a {
    color: black;
    background-color: rgb(147, 223, 223);
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    transition: 0.3s ease;
}

footer a:hover {
    transform: translateY(-5px);
    background-color: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 90%;
    }

    table {
        display: block;
        overflow-x: auto;
        font-size: 14px;
    }

    ul {
        font-size: 16px;
    }

    .s1,
    .s2 {
        width: 90%;
    }

    footer a {
        margin: 8px auto;
    }
}
@media(max-width:450px){
    table tr, td, th{
        font-size:0.6rem;
    }
}
